Packages/RealityKitContent/.swiftpm/xcode/xcuserdata/s2310237016.xcuserdatad
iSolarSystem.xcodeproj/project.xcworkspace/xcuserdata/s2310237016.xcuserdatad
iSolarSystem.xcodeproj/xcuserdata/s2310237016.xcuserdatad
